.header {
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0px;
	background: #FFF;
	z-index: 10000;
	height: 150px;
	overflow: hidden;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;
	border-bottom: 2px solid #EEE;
}

.header h1,
.header nav {
	position: relative;
}

.header h1, .header nav a  {
	line-height: 150px;
}

.header h1 {
	text-transform: uppercase;
	color: #333;
	letter-spacing: 4px;
	font-size: 3.5em;
	margin: 0;
	font-family: 'Roboto Slab', serif;
	text-align: center;
}


#intro {
	padding-top: 150px;
	margin: 70px;
	line-height: 46px;
	text-align: center;
	font-size: 23px;
	font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

#content {
	line-height: 32px;
	text-align: center;
	height: 570px;
}

#contactwrapper {
	width: 100%;
	position:relative;
	border-bottom: 2px solid #EEE;
	border-top: 2px solid #EEE;
	background-color: #F9F9F9;
	height: 600px;
    font-family: 'Roboto', sans-serif;
}

#contact {
	line-height: 35px;
	height: 500px;
	padding-top: 83px;
	margin-bottom: 70px;
	padding-left: 13%;
	background-color: #F9F9F9;
	float: left;
}


#img {
    float: left;
    height: 425px;
    width: 325px;
    margin-top: 83px;
    margin-left: 90px;
    line-height: 32px;	
}

footer {
	text-align: center;
	margin-bottom: 70px;
	clear: both;
    font-family: 'Roboto', sans-serif;
}

#footersocial li {display: inline-block; font-size: 20px; padding: 5px;}
 

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus {
    border: 1px solid rgb(170, 170, 170);
    color: rgb(68, 68, 68);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

input[type="text"], input[type="password"], input[type="email"], textarea, select {
    border: 1px solid rgb(204, 204, 204);
    padding: 13px 13px;
    outline: medium none;
    /*border-radius: 2px 2px 2px 2px;*/
    color: rgb(119, 119, 119);
    margin: 0px 0px 20px;
    width: 310px;
    max-width: 100%;
    display: block;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
    background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%) repeat scroll 0% 0% rgb(238, 238, 238);
    border-right: 1px solid rgb(170, 170, 170);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204) rgb(170, 170, 170) rgb(170, 170, 170) rgb(204, 204, 204);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    color: rgb(68, 68, 68);
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
	font-family: 'Roboto', sans-serif;
    text-decoration: none;
    text-shadow: 0px 1px rgba(255, 255, 255, 0.75);
    cursor: pointer;
    margin-bottom: 20px;
    line-height: normal;
    padding: 13px 13px;
}


      .button:active,
	button:active,
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="button"]:active {
		border: 1px solid #666;
		background: #ccc; /* Old browsers */
		background: #ccc -moz-linear-gradient(top, rgba(255,255,255,.35) 0%, rgba(10,10,10,.4) 100%); /* FF3.6+ */
		background: #ccc -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.35)), color-stop(100%,rgba(10,10,10,.4))); /* Chrome,Safari4+ */
		background: #ccc -webkit-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Chrome10+,Safari5.1+ */
		background: #ccc -o-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Opera11.10+ */
		background: #ccc -ms-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* IE10+ */
		background: #ccc linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* W3C */
		}

        .cbp-af-header h1 {-webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s;}

        .cbp-af-header.cbp-af-header-shrink {height: 90px;}
        
        .cbp-af-header.cbp-af-header-shrink h1 {line-height: 90px;}
        
        .cbp-af-header.cbp-af-header-shrink h1 {font-size: 2em;}

        .main {
            padding: 30px 0;
        }
        
        .main article h1 {
            font-size: 2em;
        }
        
        .main aside {
            color: white;
            padding: 0px 5% 10px;
        }
        
        .footer-container footer {
            color: white;
            padding: 20px 0;
        }

        .ie7 .title {
    padding-top: 20px;
}